**/__pycache__/
.venv
.python-version
# pyproject.toml
# uv.lock

local_tools
local_servers

node_modules
sample_files

./storage/
debug.py
debug.js
debug.sh
debug.json
debug.jsonl
legacy/
configs/global_configs.py
configs/token_key_session.py
configs/credentials.json
configs/google_credentials.json
configs/gcp-service_account.keys.json
configs/gcp-oauth.keys.json
configs/notion_state.json
configs/snowflake_rsa_key.p8
configs/snowflake_rsa_key.pub
configs/.mcp-auth/

deployment/k8s/
ruige
ruige*
dumps*
./logs
eval_results
tasks/manual
initial_states/manual
groundtruth/manual
manual/
scripts/debug_manual.sh
scripts/debug_eval_config.json
# scripts/update_trajectories.sh
tmp/
.tmp/


pd_*.yaml

*.pem
*.log
*.pid

# Deployment directory rules
# Keep deployment/utils/ entirely
# For other deployment subdirectories, only keep scripts/ folders
deployment/*/*
!deployment/utils/
!deployment/utils/**
!deployment/*/scripts/
!deployment/*/scripts/**
deployment/*/scripts/__pycache__/

wandb

.DS_Store

tasks/finalpool/arrange-workspace/local_files/
# tasks/testparallel
logs_containers
results

recorded_trajectories_v2

dumps_for_mcp_check/
dumps_finalexp/
dumps_finalexp_ytb/
dumps_ablation_ytb/
dumps_debug/
dumps_quick_start/

scripts/temp_parallel_config*
tasks/finalpool_add_unrelated_mcps_*
scripts/temp_parallel_*
tasks/finalpool_add_unrelated_mcps_*

dumps_finalexp_gemini25pro_only
dumps_ablation
dumps_finalexp_overlong_ablation/

dumps_ablation.tar.gz
dumps_finalexp_overlong_ablation.tar.gz
dumps_finalexp.tar.gz

detect_cn.py

.vscode
.claude

aux/

configs/legacy_servers
scripts/temp_configs

hf_trajs
.vscode

CLAUDE.md

analysis
archieved

scripts/model_wise
scripts/temp_and_debug

tasks/debug
tasks/examples
tasks/jl
tasks/testparallel

vis_traj/trajs

duplicated_page_id.txt

*.tmp

configs/ports_config.yaml
configs/port_changes*.json